/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */


.headerCls{
  background-color: #46ACC2; 
  background-image:url("../imgs/girlyimg1.jfif");
  background-repeat: no-repeat ;
  background-size:100% 170%;
  padding: 15%;
}

 

.display{
  background-image: none;
  padding: 0%;
 
} 

.jumbotron {
  margin: 0px auto;
  margin-top: -2%;
  padding: 15%;
  background: #9575CD;
  background-image:url("imgs/girlyimg1.jfif");
  -webkit-background-size: 100% 190%;
  -moz-background-size: 100% 190%;
  -o-background-size: 100% 190%;
  background-size: 100% 190%;
}



span{
  display: inline-block;
  width:37%;
  height: 10%;
  text-align: left;
  padding: 1%;
  margin-left: -1%;
  vertical-align: middle;
}

 .imgCls{
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -o-border-radius: 5;
   border-radius: 50%;
   border: 3px solid #ffffff;
   width:42%;
} 


article nav a{
  background-color: #ff385f;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  -o-border-radius: 3;
  border-radius: 160px;
  padding: 4%;
  color:white;
  }

a {
    text-decoration: none; 
  }

  a:hover {
    text-decoration: none; 
  }

  body {
     color:black;
     font-family:Arial,Helvetica,sans-serif;
     text-align: center;
     background-image: url("../imgs/backimg2.jpg");
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }
 
  

   .left{
    display: inline-block;
    background-color: #ffffff;
    padding: 1%;
    width:40%;
    margin: 2%;
    text-align: left;
    float:left;
    
  }
   
 
  progress[value]::-webkit-progress-bar {
    content: '75%';
    border-radius: 2px;    
    height:18px; 
  }  

  progress[value]::-moz-progress-bar {
    content: '75%';
    border-radius: 2px;    
    height:18px; 
  }  
  
  progress[value]::-o-progress-bar {
    content: '75%';
    border-radius: 2px;    
    height:18px; 
  }  

  progress[value]{
    content: '75%';
    border-radius: 2px;    
    height:18px; 
  }  

  section div{
    display: inline-block;
    width:100%;   
    margin-left: 5%;
  }

  section{
    background-color:#b3b3b3;
  } 
   
   h2 {
    color:#075AAB;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
    padding: 1%;
    height: 21px;
    background: -webkit-linear-gradient(to right,#83E4FB,#ffffff);
    background: -moz-linear-gradient(to right,#83E4FB,#ffffff);
    background: -o-linear-gradient(to right,#83E4FB,#ffffff);
    background: linear-gradient(to right,#83E4FB,#ffffff);
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
 
  .foot{
    background-color: #46ACC2;    

  }
  footer{
      margin-top: 2rem;
      margin-bottom: 2rem;
      clear:both;  
      background-color: darkgray;
      margin: 0%;
     color: #000000;
  }

  @media (max-width:640px){

     header{
      display: block;
      justify-content: center;
  
    }
  
    img{
      width:170px;
        margin: 40px;
      }
    
     h1{ 
       width: 100%;
       margin-bottom:0px;
       padding-bottom: 20px;
       margin-top: -8px;
       padding-top: 15px;
     } 
  
    span{

      display: block;
      justify-content: center;
      width: 100%;
      text-align: center;
      padding: 0%;
    }
     
    div{
      justify-content: center;
      text-align: center;
      width:50%;
      margin-left:15%;
  
    }

    body{
      justify-content: center;
      margin: 0%;
    }

  
    .left{
      display: block;
      width:100%;
      /* text-align: center; */
    }

  }
  
  @media (max-width:700px){
    
      div{
      width: 100%;
      margin: 0%;
      }
    progress[value]::-webkit-progress-bar {
      border-radius: 2px;    
      height:18px; 
      margin-left: 10%;
      margin-right: 10%;
  
    }  
    
  }   


  @media (max-width:1000px){  
    
    
header{
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 21%;
  margin: 0%;
}

  
 
    div{
      width: 100%;
      margin: 1%;
    }
    progress[value]::-webkit-progress-bar {
      content: '75%';
      border-radius: 2px;    
      height:18px; 
      margin-left: 15%;
      margin-right: 10%;
    } 

  }
